.avatar {
    width: 100px;
    height: 200px;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.app-op {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
